/* 
* @Author: Qosmio
* @Date:   2014-11-12 21:07:24
* @Last Modified by:   Qosmio
* @Last Modified time: 2014-11-12 22:05:40
*/
.grey {
	background-color: #CCC;
	padding: 20px;
}

.col-md-9 {
	background-color: #999;
}